{% extends "base.html" %}

{% block title %}Activity{% endblock %}

{% block content %}
  <div class="activity-content">
    <h2>Press the button below to generate a random activity. Have fun!</h2>

    <form method="POST">
        <input type="submit" class="button" value="Generate Activity">
    </form>

    <form action="/save_favorite" method="POST">
        <input type="hidden" name="activity" value="{{ activity }}">
        {% if activity %}
          <h2>Try this activity:</h2>
          <p>{{ activity }}</p>
        {% endif %}
        <input type="submit" class="button" value="Add to Favorites">
    </form>

    {% if recommended_activities %}
      <h2>Recommended Activities</h2>
      <ul>
          {% for recommended_activity in recommended_activities %}
            <li>{{ recommended_activity }}</li>
          {% endfor %}
      </ul>
    {% endif %}
  </div>
{% endblock %}
