<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/stylesheet.css">
    {% block head %}
    <title>Welcome Page</title>
    {% endblock %}
</head>
<body>
    <nav class="navbar">
        <a href="/">Home</a>
        <a href="/activity">Activity</a>
        <a href="/favorites">Favorites</a>
        <a href="/upload_photo">Photo Upload</a>
        <a href="/logout" class="logout-btn">Logout</a>
    </nav>

    <div class="content">
        {% block content %}
        <h2> Welcome to Funseeker! </h2>
        <p> Please select an option: </p>
        <button><a href="/login"> I'd like to log in. </a></button>
        <br>
        <button><a href="/register"> I'd like to register. </a></button>
        {% endblock %}
    </div>

    <div class="copyright">
        &copy; BoredAPI
    </div>
 
</body>
</html>