<!-- {% extends "base.html" %}

{% block title %} Feedback Form {% endblock %}

{% block content %}
<p> Thank you for using the Bored Flask Application!</p>
<p> Please use the form below to send feedback on what you'd like to see (or if something is broken!) : </p>

<div class="form-content">
    <form action="/feedback" method="POST">
        {{ form.hidden_tag() }}
        {% for field in form if field.widget.input_type != 'hidden' %}
            <div class="form-group">
                {{ field.label }}: <br>
                {{ field(class="form-control") }}
            </div>
        {% endfor %}
        <br>
        <button type="submit" class="button">Submit</button>
</div>
{% endblock %} -->