{% extends "base.html" %}

{% block title %} Registration Form {% endblock %}

{% block content %}
  <div class="registration-form">
    {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="flash-messages">
      {% for message in messages %}
        <li class="flash-message">{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
    <p> Please register below:</p>
    <div>
        <form action="/register" method="POST">
        {{ form.hidden_tag() }}

        {% for field in form %}
          {% if field.widget.input_type != 'hidden' %}
            <div class="form-group">
              {{ field.label }}:<br>
              {{ field(class="form-control") }}
            </div>
          {% endif %}
        {% endfor %}
        <br>
        <button type="submit" class="button">Submit</button>
      </form>
    </div>
  </div>
{% endblock %}

